streamlit
streamlit-lottie
librosa
numpy
matplotlib
soundfile
moviepy>=2.0.0
openai-whisper
transformers
scipy
pydub
requests

torch==2.1.0+cpu
torchaudio==2.1.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
