streamlit
librosa
numpy
matplotlib
soundfile
moviepy>=2.0.0
openai-whisper
transformers
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
scipy
